/* Fonts */

 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* Reset de valores asignados por el navegador */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'Lato', sans-serif;
    color: #0f0f0f;    ;
    background-color: #fbfbfb;
    line-height: 1.2;
    font-size: 18px;

}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/


.logo{
    width: 60px;
    height: 40px;
}

header{
    display: flex;
   
   
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 10px 20px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    box-shadow: 6px 6px 10px #cecbcb;
    background-color: #fbfbfb;
    
}


.nav{
    width: 100%;
    
}
#menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#inicio{
    text-align: center;
}




main {
    max-width: 1200px;
    margin: auto;
}

article{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
   
}

h1{
    font-size: 36px;
    text-align: center;
}

h2{
    font-size: 28px;
    text-align: center;
    padding-top: 30px;
}


.foto{
    width: 400px;
    border-radius: 50%;
    margin-top: 120px;
}
.btn-decargar{
    display: flex;
    background-color: #af599e;
    color: #fbfbfb;
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}



.hablemos{
    background-color: rgba(175, 89, 158, 0.3);
    color: #0f0f0f;
    padding-bottom: 20px;
}

.iconos{
    display: flex;
    margin-bottom: 60px;
    flex-flow: row;
    justify-content:space-around;
    
}

.icono-tamaño{
    width: 42px;
    height: 42px;
}

.footer{
    display: flex;
    height: 90px;
    width: 100%;
    background-color: #af599e;
    color: #fbfbfb;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
